<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>首页</title>


    <style>

        .main {
            width: 60%;
            min-width: 900px;
            min-height: 1080px;
            background: beige;
            text-align: center;
        }
    </style>
</head>
<body>


<div class="main m-auto">


</div>


</body>
</html>